In [174]:
import pandas as pd
import numpy as np

Preprocessing Of data

In [175]:
animes = pd.read_csv('anime.csv')

In [176]:
animes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [177]:
animes.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [178]:
animes.replace('[!,@,#,$,%,^,&,*,;,:,°,Â,DÃ©jÃ,.]','',regex=True,inplace=True)

In [179]:
animes.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa,rama Romance School Supernatural,Movie,1,9.37,200630
1,5114,Fullmetal Alchemist Brotherhood,Action Adventure rama Fantasy Magic Military S...,TV,64,9.26,793665
2,28977,Gintama,Action Comedy Historical Parody Samurai Sci-Fi...,TV,51,9.25,114262
3,9253,SteinsGate,Sci-Fi Thriller,TV,24,9.17,673572
4,9969,Gintama039,Action Comedy Historical Parody Samurai Sci-Fi...,TV,51,9.16,151266

In [180]:
animes.isnull().sum()
# print(animes.shape)

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [181]:
animes.dropna(inplace = True)

In [182]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000)

In [183]:
vectors = cv.fit_transform(animes['genre']).toarray()

In [186]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [192]:
similarity[0]

array([1.        , 0.18898224, 0.        , ..., 0.        , 0.        ,
       0.        ])

In [200]:
def recommend(movie):
    anime_index = animes[animes['name'] == movie].index[0]
    distances = similarity[anime_index]
    anime_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in anime_list:
        print(animes.iloc[i[0]]['name'])

In [201]:
recommend('One Punch Man')

One Punch Man Specials
One Punch Man Road to Hero
Tokyo ESP
Kiddy GiRL-AN
Mirai Kara Kita Shounen Super Jetter

In [199]:
animes.iloc[754]["name"]

'One Punch Man Specials'

In [189]:
animes[animes['name'] == 'One Punch Man Specials'].index[0]

754